header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #197686;
  background: rgba(5, 37, 44, 0.4);
  width: 100%;
  backdrop-filter: blur(2px);
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  padding-inline: 1rem;
}
header button{
    padding:10px 24px;
    border-radius: 12px;
    border: 1px solid rgba(213, 234, 0, 0.10);
    cursor: pointer;
}
header button::after{
    content: url('../../assets/arrow-right.svg');
}
header button:hover{
    background-color: #24A0B5;
    position: relative;
    color:#D9D9D9
}
header button:hover::after {
    content: url('../../assets/arrow-up.svg');
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
 
}
a{
    color:black;
    text-decoration: none;
}
.header-logo>*{
    gap:8px
}
@media  (max-width:575px) {
    ul{
        display: none;
    }
}
